[2014-09-23 20:29] azaroth42 opened #1 "Create new annotation from JSON-LD"
Triannon _must_ accept a valid annotation in the JSON-LD serialization, conforming to the base Open Annotation context definition, and store the RDF in Fedora4, via the exposed LDP API.

The annotation will be POSTed to Triannon at a configurable URI, that represents the container of all annotations in the system.
The POST request _may_ have a content-type header that specifies JSON-LD. It _may_ h

[2014-09-23 20:45] azaroth42 opened #2 "accept annotations in Json-ld, turtle and rdf/xml"
Trianon _should_ accept annotations in other formats than JSON-LD, including Turtle and RDF/XML.
The POST request _may_ have a content-type header that specifies JSON-LD.   Triannon _must not_ rely on the existence of these headers.

For POST / PUT requests, Triannon should infer the content type if not specified from the entity-body using the following heuristics:
- [x] Last non whitespace charac

[2014-09-23 20:57] azaroth42 opened #3 "Validate Annotation before Create/Update"
Trianon _should_ validate that submitted annotations follow the Open Annotation model before creating the RDF in Fedora4.  The format that the annotation is submitted in _should not_ affect the ability to validate or not.  At least minimal validation is desirable, and accurate validation such as done by the OA validator is nice to have but not essential.
- [ ] Minimal validation
- [ ] Strong valid

[2014-09-23 21:03] azaroth42 opened #4 "Convert Annotation to Fedora4 acceptable resources"
Triannon _must_ convert the accepted annotation (either create or update) into a format and structure that is able to be stored in Fedora4, via the LDP API.  This transformation _must not_ be dependent on the input format sent to Triannon by the client.  See the architecture for more information about the requirements for the transformation.

[2014-09-23 21:05] azaroth42 opened #5 "Store Annotation in Fedora4 via LDP"
Once the annotation is in the right structure to be stored, Triannon _must_ send the necessary requests to Fedora4 to create or update the annotation resources, and inspect the responses to ensure that the operation was completed successfully.

[2014-09-23 21:08] azaroth42 opened #6 "Create new non-RDF (e.g. binary files) resources in Fedora"
Triannon _must_ allow clients to create non-RDF resources, such as images, audio and video, within Fedora 4.  These resources _must_ be created with the correct URIs as generated underneath the annotation resource by Fedora4, or posted to the container created within Fedora4 for the purpose of storing annotation body resources.

with and without additional metadata for the stream;  in bodies and t

[2014-09-23 21:12] azaroth42 opened #7 "Create LDP Containers for Body and Target"
Triannon _must_ initially create LDP Direct Containers within Fedora4, until such time as it can be configured to do it independently, as part of the creation of an annotation.  These containers will host the bodies and targets for the annotations.  This task is separated in order to allow the tracking of the F4 ability.

[2014-09-23 21:14] azaroth42 opened #8 "Implement LDP Direct Container in Fedora4"
Fedora4 must support Direct Containers via the LDP API to manage annotation bodies and targets.
Clients, such as Triannon, _must_ be able to update the properties of the containers, including the LDP specific properties (membershipResource, hasMemberRelation)

[2014-09-23 21:17] azaroth42 opened #9 "Allow external references in Fedora4"
Fedora4 _must_ create RDF resources that describe resources which are not managed by fedora4, such as external web pages, images or anything else with a URI.  Metadata about these resources are still important to the annotation client, including format, profile, type and so forth.  The predicate triannon:externalReference should be used from the metadata resource in Fedora to connect to the extern

[2014-09-23 21:21] azaroth42 opened #10 "Reject annotations with triannon:externalResource triples"
Triannon _must_ reject any annotation that contains a triple with the predicate fcrepo:externalResource, as this _must only_ be created by the repository itself.  Otherwise infinite recursion of metadata descriptive resources happens, and it's turtles all the way down.

It should return HTTP 403 with a helpful error message

[2014-09-23 21:23] azaroth42 opened #11 "Fedora will return representation to Triannon"
Although not required by LDP, in order to manage non-rdf resources and their corresponding URIs, Fedora _must_ return the skolemized representation of the annotation resources to Triannon, such that it knows where to post updates.

[2014-09-23 21:25] azaroth42 opened #12 "Respond with appropriate status & headers"
Triannon _must_ follow REST best practices and return appropriate HTTP status codes and headers in response to requests.  These responses _must_ be based on the response to the annotation client, not on the more granular interactions that it mediates with Fedora4.  For example, it _must_ fail a request in which only one resource gets created and others are rejected.  (transactionality)

(Joint @nd

[2014-09-23 21:29] azaroth42 opened #13 "Allow updating (PUT) of annotations"
In the same way that annotations are POSTed, annotations or component resources may be PUT to Triannon at a specific URI.  Triannon _must_ then update the corresponding resources in Fedora4, using the same workflow as to create the annotation in the first place.
- [ ] turtle
- [ ] json-ld with OA context (see #120, #121)
- [ ] json-ld with IIIF context (see #120, #121)
- [ ] integration tests
- [

[2014-09-23 21:30] azaroth42 opened #14 "Allow deletion of annotations"
Clients may DELETE annotations with the corresponding HTTP verb.  Triannon _must_ pass through this delete request to the appropriate resources maintained in Fedora4, such that all resources that are part of the annotation are deleted.

[2014-09-23 21:32] azaroth42 opened #15 "Authorization model"
Triannon must have a well defined model for authorization of different operations.  The model does not need to be fully implemented, but it must be clear how it could be implemented in the future.

- [ ] Model hooks in place
- [ ] Basic authorization model implemented
- [ ] Detailed authorization model implemented

(@ndushay @wmene to implement, plus @cbeer @azaroth42 to assist & document)

[2014-09-23 21:37] azaroth42 opened #16 "Authentication hooks"
In order for Triannon to be put into production, it needs to have user authentication tied into the authorization model (#15).  For phase 1, Triannon _must_ have hooks in place to allow future expansion and implementation of different authentication schemes.  It _must_ have two fake users (admin and user)  that can be used as demo users to show that the system can be extended further.  Actual auth

[2014-09-23 21:40] azaroth42 opened #17 "Reconstruct Annotation towards Retrieval"
When an annotation is requested by URI, Triannon _must_ request all the appropriate resources from Fedora4 and undo any local changes such as fcrepo:externalReference links, and any describes links for managed NR resources.

[2014-09-23 21:53] azaroth42 opened #18 "Proxy-style URI rewriting"
Triannon _must_ do proxy-style URI rewriting such that the URIs that it returns to the annotation client are Triannon's URIs not Fedora's URIs.  For example, if Triannon lives at triannon.stanford.edu and Fedora lives at sdr4.stanford.edu, then the URIs that are generated by F4 will start http://sdr4 and they need to be converted to be http://triannon such that the client will continue to interact

[2014-09-23 21:55] azaroth42 opened #19 "Allow client to request a json-ld context for retrieving an annotation"
JSON-LD allows for multiple Contexts to be used to map the same set of triples into different JSON representations.  Triannon should allow specific contexts to be requested for the serialization of annotations being returned to the annotation client.  The default context is Open Annotation if the request does not specify one.

Use case is the difference between Open Annotation's context and the II

[2014-09-23 21:57] azaroth42 opened #20 "media-type negotiation for retrieval"
When retrieving an annotation, a client will issue a GET request to Triannon.  This request may include an Accept header that asks for a particular serialization.  This request _should_ be supported for JSON, JSON-LD, Turtle and RDF/XML and may be supported for other serializations.  The default serialization is JSON-LD if not specified.
- [x] JSON-LD
- [x] Turtle
- [x] RDF/XML
- [x] JSON

For act

[2014-09-23 22:34] azaroth42 opened #21 "infer context (for json-ld) for anno in POST/PUT request"
for JSON - LD:
POST REQUEST _may_ have a profile specifying the context.  Triannon _must not_ rely on the existence of these headers.
- [x] If @context key doesn't exist, assume raw annotator format
- [x]   otherwise either OA or IIIF, depending on context URI

[2014-09-23 22:50] azaroth42 opened #22 "Allow description of binary resources in Fedora4"
Binary resources _must_ have RDF descriptions managed in Fedora4, such as to record the format and type of a binary annotation body.  These descriptions will be merged back into the annotation by Triannon.  A "describes" property will link the URI of the description to the URI of the binary object. The binary object's URI will be the object of the hasBody triple in the annotation.

[2014-09-25 19:09] azaroth42 opened #26 "Test against non-Fedora LDP implementation"
Regardless of the speed of getting fcrepo to be LDP conforming, we should test and demonstrate compatibility with a second implementation of LDP.  If the lack of LDP is blocking, then this should be done sooner to unblock, otherwise by the end of the work.

Steps:
- [ ] @azaroth42 to find a suitable reference implementation of the LDP API
- [ ] @wmene to install in test
- [ ] @wmene and @ndushay t

[2014-10-06 17:11] ndushay opened #29 "fixture with IIIF context"
Rob,

Can you please give me a fixture doc for an anno in JSON-LD with IIIF context?   Preferably the same as one of our existing fixtures in spec/fixtures/annotations.

Thanks!

@azaroth42

[2014-10-06 20:55] #29 closed, assigned to nobody

[2014-10-06 23:27] azaroth42 opened #30 "Select alternative LDP server"
Options:
- ~~Apache Marmotta~~ Doesn't implement even DirectContainer in latest code :-1:
- Callimachus
- LDP Carbon
- Lyo

[2014-10-08 22:55] azaroth42 opened #31 "Triannon should replace context URIs with context document"
In order to avoid caching issues for context documents, Triannon should replace the known context URIs with their representations.

So when an incoming annotation has {"@context": "http://...", } it should be changed to {"@context": {"oa": ..., "cnt": ...}  where the object is the @context part of: http://www.w3.org/ns/oa.jsonld

[2014-10-09 22:54] ndushay opened #33 "accept annotations for Create/Update in IIIF JSON-LD Context"
- [x] show can supply iiif context if desired
- [x] new/create accepts iiif context
- [ ] edit/update/patch/put  accepts iiif context
- [x] replace context URI with inline context to avoid hammering w3c

See also #19 and #21

[2014-10-10 03:34] #31 closed, assigned to ndushay

[2014-10-10 19:34] ndushay opened #36 "honor content-type header of POST/PUT request for annotations"
See #2

Code currently infers jsonld, turtle or rdfxml  from entity-body  per #2.   It should try to honor content-type header specification before inferring anything, probably.

[2014-10-10 19:35] #2 closed, assigned to ndushay

[2014-10-10 19:36] #1 closed, assigned to ndushay

[2014-10-13 20:45] ndushay opened #38 "need to create top level ldp container to hold all annos"
code / tests should see if it exists and create it if it doesn't exist.

the name of the container should be a sensible default with configurable option

[2014-10-14 17:29] wmene opened #39 "Use RDF gem in LdpCreator instead of hand-building strings"
The LdpCreator manually builds the turtle being sent to the LDP server.  It should use the RDF gem and build a graph that gets dumped as turtle instead

[2014-10-15 21:16] ndushay opened #43 "define triannon:externalReference namespace so it resolves in jsonld, etc."

[2014-10-15 21:27] ndushay opened #44 "rework config (yml) to have base uri for triannon app as well as LDP server url"

[2014-10-15 21:28] ndushay opened #45 "LDP Loader / Reader needs to handle whole OA kaboodle"
This is largely tested via integration tests.
- [x] unit tests for LdpLoader aren't great.   Also, distinguish that it is RAW loaded graph at this point.
- [x] external URI, no metadata
- [x] external URI with metadata
- [x] ContentAsText blank node
- [x] Specific Resource
- [x] Choice

[2014-10-15 21:29] ndushay opened #46 "LDP Mapper needs to handle whole OA kaboodle"
for targets and bodies.   And integration tests for all, too.
- [x] external URI, no metadata
- [x] external URI with metadata
- [x] ContentAsText blank node
- [x] Specific Resource
- [x] Choice

[2014-10-15 21:29] ndushay opened #47 "LDP Creator / Writer needs to handle whole OA kaboodle"

[2014-10-15 21:33] ndushay opened #48 "Implement #index for LDP back end (Annotation.all)"

[2014-10-15 21:36] ndushay opened #49 "app needs fcrepo4 in jetty for dev and testing"
We need fcrepo4 war file for this.

Once we have this, we should write some end-to-end tests.  And let's not forget to clean up the objects afterwards.

[2014-10-15 21:39] #18 closed, assigned to nobody

[2014-10-15 21:40] #17 closed, assigned to nobody

[2014-10-15 21:42] #7 closed, assigned to nobody

[2014-10-15 21:42] #8 closed, assigned to cbeer

[2014-10-15 21:43] #4 closed, assigned to nobody

[2014-10-15 21:44] #5 closed, assigned to nobody

[2014-10-15 21:45] #9 closed, assigned to cbeer

[2014-10-15 21:46] ndushay opened #50 "rework LDP creator / writer to use data from Triannon::Annotation.graph"
rather than hardcoded ttl.

[2014-10-15 21:48] ndushay opened #51 "stand up triannon on triannon-dev"
Will require
- [ ] capistrano deploy of app
- [x] box from dev ops

~~\- [ ] fedora4  on sul-fedora-dev-a (possibly deployed via puppet?)~~ (now part of #70)

[2014-10-16 17:11] #44 closed, assigned to nobody

[2014-10-17 22:31] #38 closed, assigned to nobody

[2014-10-20 17:27] #39 closed, assigned to ndushay

[2014-10-21 18:43] #48 closed, assigned to nobody

[2014-10-22 21:01] #14 closed, assigned to ndushay

[2014-10-22 23:41] ndushay opened #59 "implement triannon:externalReference"
apparently this needs to be reworked a bit due to clarifying emails below.  Basically, what _should_ happen is the graph should be checked for URIs that have properties and the graph should be transformed as necessary before writing to Fedora.  I think.
- [x] new annotation with an external URI in a TARGET gets created properly in Fedora
- [x] new annotation with an external URI in a BODY gets cre

[2014-10-23 18:34] #43 closed, assigned to nobody

[2014-10-23 21:11] ndushay opened #62 "embedded blank nodes are diff in fedora now"
This largely affects LdpCreator.create_body_resources,  ditto targets, and eventually LdpLoader stuff.

per https://github.com/fcrepo4/fcrepo4/pull/584  on 2014/10/23

[2014-10-23 23:28] ndushay opened #64 "provenance handled"
- [x] LdpCreator  (per create_base and using the graph from Triannon::Annotation ...)
- [ ] LdpLoader
- [ ] LdpMapper

basically:  create, read, update ...

[2014-10-24 01:21] #49 closed, assigned to nobody

[2014-10-24 23:17] ndushay opened #67 "code coverage stats"
set up coveralls for travis builds and put badge on README ...

[2014-10-24 23:48] #50 closed, assigned to ndushay

[2014-10-24 23:48] #47 closed, assigned to ndushay

[2014-10-27 17:51] ndushay opened #69 "Allow updating (PATCH) of annotation"

[2014-10-27 18:17] ndushay opened #70 "have way to put bleeding edge fedora on sul-fedora-dev-a"
(and spin up the box, ready for action)

[2014-10-27 23:12] ndushay opened #72 "triannon tests should clear test objects out of fedora"

[2014-10-27 23:27] wmene opened #73 "Triannon code should work and specs should pass with slashes (pair tree) in the URLs"
1. Test that Triannon works with the default Fedora4 installed by DevOps.
2. Test that Triannon will continue to work with (new) default Fedora4 URI generation algorithm (ab/cd/abcd-1234...) e.g. in 4.1.1

Original: Fedora4 by default generates URLs with extra slashes in the path.  Initial development was against a patched version of fedora which created URLs without the slashes.  We need to have

[2014-11-03 17:13] #62 closed, assigned to nobody

[2014-11-03 22:30] ndushay opened #78 "start and end objects, for TextPositionSelector, should be retrieved as the correct type"
From the OA spec, "start" and "end" are supposed to be xsd:nonNegativeIntegers:

https://github.com/sul-dlss/rdf-open_annotation/blob/master/lib/rdf/open_annotation/vocab.rb#L386-392

However, FCrepo4 is serving them out as xsd:Long.

[code]

This should be corrected when returning annotations to Triannon users.

[2014-11-05 20:10] ndushay opened #79 "A triannon annotation may be the target of another triannon annotation"
This is just the same as any other URI target:

On 11/6/14, 11:06 AM, Naomi Dushay wrote:
Rob,

Would an annotation with a target of another triannon annotation be any different than:

 <blah> oa:hasTarget http://triannon.stanford.edu/rest/anno/uuid

From: Rob Sanderson azaroth@stanford.edu
To: Naomi Dushay ndushay@stanford.edu

Nope, it would look like that and we shouldn't treat it differently

[2014-11-07 01:25] #79 closed, assigned to nobody

[2014-11-07 01:26] ndushay opened #81 "show view should just be ttl and or json of annotation"
... replacing the current view code.
- [x] shows ttl
- [x] shows json-ld OA context
- [x] shows json-ld IIIF context

[2014-11-11 01:03] #46 closed, assigned to ndushay

[2014-11-11 02:45] #45 closed, assigned to ndushay

[2014-11-12 23:51] ndushay opened #84 "new anno with existing id should create anno with triannon id ..."
... and put the original, incoming id into an OpenAnnotation.equivalentTo  triplet in the base container.

See http://www.openannotation.org/spec/core/publishing.html#Equivalence.

May have implementation similarities to #10

See LdpCreator.create  and  #create_base

[2014-11-13 23:37] #59 closed, assigned to nobody

[2014-11-13 23:37] #10 closed, assigned to nobody

[2014-11-14 00:16] #67 closed, assigned to nobody

[2014-11-14 00:27] #11 closed, assigned to cbeer

[2014-11-14 00:27] #12 closed, assigned to ndushay

[2014-11-14 00:35] #78 closed, assigned to ndushay

[2014-11-19 19:42] wmene opened #89 "Add rake task to create root annotation container"

[2014-11-19 19:51] wmene opened #90 "Update new triannon _form to POST content of text area as body"
The current `app/views/triannon/annotations/_form.html.erb` uses the `form_for` helper to create a form that POSTs a hash like

[code]

It should just take the content of the text area and send it as the body of the POST

[2014-11-20 20:54] #70 closed, assigned to nobody

[2014-11-20 20:54] #51 closed, assigned to nobody

[2014-11-20 20:59] #33 closed, assigned to ndushay

[2014-11-24 23:28] ndushay opened #93 "create view no longer works"
Willy had to change the way incoming annotations were handled for the deployment of triannon (See #88, "Use the request.body when creating an annotation via POST");  this broke our html form in the app.  The form needs to be repaired.

[2014-11-24 23:51] #81 closed, assigned to ndushay

[2014-11-25 01:53] #93 closed, assigned to nobody

[2014-12-02 23:47] ndushay opened #96 "context caching improvement"
See https://github.com/ruby-rdf/json-ld/issues/13:

per Gregg Kellogg:
"(commit  85eb3d7)  takes advantage of changes to RDF::Util::File.open_file. If you require restclient/components you can get RestClient to use Rack::Cache, which gives a broad way to deal with client-side caching. See the doc for RDF::Util::File.open_file for more details."

current app behavior is to just substitute an inline

[2014-12-03 19:41] ndushay opened #98 "get list of all annos for a particular target"
For Hydra::Works and compatibility with Lynette's work, there should be the option of an ore:Aggregation with proxy nodes supplying the order.  This ties in to #102 and #101, I think.

At which point we would need the context for ORE in JSON-LD. One exists, but it makes the proxy construction harder than it needs to be.  See issue here:  https://github.com/projecthydra-labs/hydra-works/issues/35

[2014-12-04 01:12] #19 closed, assigned to ndushay

[2014-12-04 01:14] #89 closed, assigned to nobody

[2014-12-05 01:01] #21 closed, assigned to ndushay

[2014-12-11 00:14] ndushay opened #101 "contribute rdf vocabs"
to either gem in projecthydra-labs/rdf-vocab  or  to  ruby-rdf/rdf

do pull requests?

[2014-12-11 00:14] ndushay opened #102 "look at Lynette's code"
https://github.com/ld4l
in particular:
https://github.com/ld4l/open_annotation_rdf
https://github.com/ld4l/ore_rdf
https://github.com/ld4l/foaf_rdf

[2015-01-07 23:28] ndushay opened #103 "successful create of annotation should return status 201, not 302"
See  https://github.com/sul-dlss/triannon/blob/master/app/controllers/triannon/annotations_controller.rb#L59

[2015-01-07 23:29] ndushay commented on #102
Since I've got my SearchWorks ld4l branch *using* the  open_annotation_rdf models, I'll call this done.

[2015-01-07 23:29] #102 closed

[2015-01-08 01:42] ndushay commented on #103
addressed with #104

[2015-01-08 01:42] #103 closed

[2015-01-31 02:51] ndushay commented on #64
works for annotatedAt

[2015-01-31 02:53] ndushay commented on #90
status code is correct now.

[2015-01-31 17:34] #22 closed

[2015-02-06 01:08] ndushay commented on #98
#108, #109 covered this.  Wahoo!  Also implemented code in https://github.com/sul-dlss/searchworks/tree/ld4l to use this.

[2015-02-06 01:08] #98 closed

[2015-02-06 01:09] ndushay opened #110 "batch way to Solr index all annos in Fedora4"
(or in a container in Fedora4 instance ...)

[2015-02-06 01:11] ndushay opened #111 "use https for Fedora, not http"
On triannon box, rails logs read thus (with https in triannon.yml):

Faraday::SSLError (SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed):
  /usr/local/rvm/rubies/ruby-2.1.3/lib/ruby/2.1.0/net/http.rb:920:in `connect'
  /usr/local/rvm/rubies/ruby-2.1.3/lib/ruby/2.1.0/net/http.rb:920:in `block in connect'
  /usr/local/rvm/rubies/ruby-2.1.3/lib/ruby/2.1

[2015-02-06 01:12] ndushay opened #112 "SW - implement "find by tag""
currently only have "find by target uri"

https://github.com/sul-dlss/searchworks/tree/ld4l

[2015-02-06 01:13] ndushay opened #113 "for html response, redirect for newly created anno should just happen"
not leave you stranded at ? 201 ? page.   But yes, keep same status for non-html responses.

[2015-02-06 01:16] ndushay opened #114 "generator to copy triannon solr config files to local jetty"
it's defaulting to hydra solr;  want to add triannon-core stuff.   Faked it by adding instructions to README for now.

[2015-02-06 01:25] aeschylus commented on #98
Double Plus Good!

[2015-02-10 22:55] darrenleeweber opened #117 "get rdf from the /annotations route (as json-ld, ttl, rdfxml, etc)"
Add content negotiation to get rdf from the /annotations route, i.e.
https://github.com/sul-dlss/triannon/blob/master/app/controllers/triannon/annotations_controller.rb#L9-L12

The /annotations can be returned as a collection or list.  An example that I'm familiar with is the list of all ontologies in bioportal, see
http://data.bioontology.org/ontologies

Can we adopt the /annotation content negot

[2015-02-27 21:10] ndushay opened #119 "spin up stage instance of triannon"
need VMs:
- [x] sul-fedora-stage box?
- [x] triannon-stage box

Additionally:
- [x] sul-solr collection/core  sul-dlss/sul-solr-configs/pull/11
- [ ] cap deploy stage working
- [ ] nagios monitoring?
- [ ] security?
- [ ] squash?
- [ ] robustify netwrk connections?

[2015-02-27 21:17] ndushay commented on #111
Per Dev Ops proclamations.

[2015-02-27 21:18] ndushay commented on #96
this has been at least partially addressed (see ruby-rdf/json-ld#13)

[2015-03-02 19:16] ndushay commented on #101
This will be a PITA.  Closing.

[2015-03-02 19:16] #101 closed

[2015-03-02 19:19] ndushay commented on #69
yeah, I don't think we're going to be doing this. Closing for now.

[2015-03-02 19:19] #69 closed

[2015-03-02 22:08] ndushay opened #120 "determine jsonld context to output from HTTP Accept header, not path"
- [x] OA dated context url in Accept  for jsonld

- [x] OA generic context url in Accept  for jsonld

- [x] IIIF context url in Accept  for jsonld

- [x] context specified for non jsonld (test that it is ignored)

- [x] json profile specified incorrectly (3 context urls) - be nice and accept it

- [x] json format (3 mime types possible) + Link (3 context urls possible) + optional type

in all thre

[2015-03-02 22:09] ndushay commented on #120
See also #20 and #36 and #121

[2015-03-02 22:09] azaroth42 commented on #120
And (as discussed) accept in Content-Type for POST/PUT.
Should definitely not be part of path or params, as this is the same resource just a different representation.

[2015-03-02 22:11] ndushay opened #121 "determine jsonld context of POST/PUT from HTTP Content-Type header"
e.g.

    Content-Type: application/ld+json; profile="http://www.w3.org/ns/oa-context-20130208.json"

or

    Content-Type: application/ld+json; profile="http://www.w3.org/ns/oa.jsonld"

or

    Content-Type: application/ld+json; profile="http://iiif.io/api/presentation/2/context.json"

[2015-03-02 22:12] azaroth42 commented on #121
Being the inverse of #120 :+1:

[2015-03-02 22:12] ndushay commented on #121
See also #36

[2015-03-03 00:10] ndushay commented on #114
#122  addresses this:  created a rake task triannon:solr_jetty_setup  to configure a triannon core in jetty Solr;  good enuf for now.

[2015-03-03 00:10] #114 closed

[2015-03-03 01:02] ndushay commented on #36
we should take:
In priority order: JSON-LD (and identical JSON), RDF/XML  (XML that parses as rdfxml) and TTL,  anything else

[2015-03-05 01:25] ndushay commented on #20
implemented for POST (#create) with commit  7ce674a.  Still needs tests

[2015-03-05 01:34] ndushay commented on #117
When this is implemented:
- [ ] honor Accept HTTP header for media-type #20
- [ ] honor jsonld context in Accept HTTP header if present  #120

[2015-03-05 01:42] ndushay commented on #36
only single mime type for a POST.  PUT is covered in #13.   Commit 7ce674a  addresses this for POST.

[2015-03-05 22:07] ndushay commented on #36
Addressed by #124

[2015-03-05 22:07] #36 closed

[2015-03-05 22:08] ndushay commented on #20
addressed with #124 and remaining parts to be addressed by #117 and #13

[2015-03-05 22:08] #20 closed

[2015-03-05 22:10] ndushay commented on #111
Tell DevOps when this is deployed.

[2015-03-05 23:02] ndushay commented on #121
@azaroth42   If you look here:
[code]

you will see that  requests can be

/annotations/my_id.ttl

which are also "the same resource just a different representation".   So it's not clear to me that using params or path stuff is incorrect per rails.

[2015-03-05 23:06] azaroth42 commented on #121
The resource's URI is my_id, and the representations have the format. If my_id is requested, it should then do content negotiation and either return the format with a 200 response and the my_id.fmt in ContentLocation, or it should redirect to the my_id.fmt URI.

Hooray, content negotiation :(

[2015-03-05 23:17] ndushay commented on #120
@azaroth42  says " You might get other URIs too I guess, and while F4 might deal with that we could reject them (at least for now) for Triannon"

[2015-03-05 23:20] azaroth42 commented on #120
@azaroth42 says put your finger on your nose!

[2015-03-09 21:59] ndushay commented on #72
Use  after  or other handy rspec construct

[2015-03-09 23:51] ndushay commented on #121
Per discussion with Rob, we have decided to expect the jsonld to have the context url inline, and we are NOT looking for it in the Content-Type header for jsonld (as above) or, for json format, in the Link header, e.g.

[2015-03-09 23:51] #121 closed

[2015-03-10 00:12] #120 closed

[2015-03-10 00:18] ndushay opened #126 "POST/PUT accepts jsonld in IIIF context"

[2015-03-10 00:26] ndushay commented on #96
important to address before we go to production.

[2015-03-10 00:27] ndushay opened #127 "Triannon should be the front for its Solr"
not direct access from clients to Solr.   Currently handled via a proxy url, but this should really be Triannon app calling Solr and returning appropriate results (even if they are Solr results passed thru?)

[2015-03-10 01:24] ndushay opened #129 "use RSolr for solr_escaping in SW ld4l branch"
rsolr 1.0.12 has correct escaping.

[2015-03-10 22:20] ndushay commented on #113
addressed by

[2015-03-10 22:20] #113 closed

[2015-03-10 22:46] ndushay commented on #111
Willy thinks that puppet needs to give us an updated CA bundle:

[code]

[2015-03-10 22:49] ndushay commented on #111
and Willy further says:

fedora box  needs a real cert, and then triannon box needs to use it

[2015-03-10 22:58] ndushay commented on #111
waiting for SAR-2648

[2015-03-11 22:08] ndushay commented on #96
Date: March 11, 2015 at 2:53:20 PM PDT
From: Darren Weber <dlweber@stanford.edu>
To: Naomi Dushay <ndushay@stanford.edu>
Cc: Rob Sanderson <azaroth@stanford.edu>, Willy Mene <wmene@stanford.edu>
Subject: Re: caching context for jsonld

I looked into it and read Greg's proposed solution at
https://github.com/ruby-rdf/rdf/blob/develop/lib/rdf/util/file.rb#L33

The solution implemented and working OK

[2015-03-11 22:17] ndushay opened #132 "Triannon app allows multiple root annotation containers in single FCrepo4 instance"
We will likely have more than one "grouping" of annotations stored in a single FCrepo4 instance, managed by one or more Triannon apps.

The "root anno container" is currently created by a rake task (or in the triannon rails console), and the URL for that code is hardcoded.   This rake task / code needs NOT to have a hardcoded URL to allow multiple "root" containers for annos (e.g.  a DMS grouping,

[2015-03-11 22:19] ndushay commented on #132
[code]

[2015-03-11 22:26] ndushay opened #133 "error when POST anno has existing id"
Currently we let FCrepo4 do its thing when a #create (POST) anno has an existing anno id.  An anno is created, but not the one we expect.

We should send an error status (400?) instead, and not create an anno.

[2015-03-11 22:36] ndushay opened #134 "Triannon should transform internal anno blank nodes"
The outer node of an anno gets an id, but if there is an internal blank node on an incoming anno (e.g. ContentAsText body), the code currently serves out the internal node as blank.  We don't want this.

@azaroth42  will provide a spec as to how these annos should look on output.

[2015-03-12 00:28] ndushay commented on #111
... and fixed!  w00t!  Filing SAR ticket to tell Erin she can change puppet scripts.

[2015-03-12 00:28] #111 closed

[2015-03-12 00:52] ndushay commented on #119
[code]

[2015-03-12 01:00] ndushay commented on #119
Spoke to Erin;  Filed a SAR ticket for a sul-fedora-staga-a  box and a separate SAR ticket for triannon-stage-a  box.

Erin's assessment is we may want ultimately to "horizontally scale" fedora and load balance it, so we'll start with one fedora-stage server and see how it goes.  We may want to do similar things for Rails box:  we'll start with one triannon box, and see how it goes.

We further di

[2015-03-12 01:02] ndushay commented on #132
Erin's assessment is we may want ultimately to "horizontally scale" Triannon box and load balance it.  So of these options:
1. have multiple triannon rails apps running on single VM for diff buckets (DMS, Mirador, SearchWorks ...)
2. have single triannon app manage multiple buckets with routes (e.g. triannon-stage/dms/annotations)
3. have separate VMs with a single triannon app for each bucket

We

[2015-03-12 01:13] ndushay commented on #127
See google doc per Rob's email of 2015-03-10 6:44 pm for spec

[2015-03-12 01:24] ndushay commented on #127
expected searches:
- [ ] by target_uri  (with and without frag on end -- should look for exact and for exact#*;  also note specific resource target url may be a bit trickier in the graph)
- [ ] by body_uri
- [ ] by exact body chars  (i.e. by tag)
- [ ] by keyword search on body chars
- [ ] by body type

filters
- [ ] root anno container !
- [ ] motivation
- [ ] created time
- [ ] creator

default

[2015-03-12 01:25] ndushay commented on #127
Drew has been asked to provide exemplar Mirador annos to ensure Solr mappings work properly for Mirador.

[2015-03-12 01:27] ndushay commented on #117
possibly superceded by #127

[2015-03-12 01:32] ndushay commented on #110
Possibly factor out this code from Triannon to use in common with batch indexing and with other LDP rails apps:
1.  create gem for LDP backend:  REST calls to LDP containers;  way to get all containers within an LDP container (e.g. all the containers for an anno put all their non-fedora, non-ldp triples into an RDF::Graph
2.  create gem for Anno object loaded from graph:  can write to LDP, can wri

[2015-03-12 01:40] ndushay commented on #3
validation:
  MUSTS
  only one outer node?  (non-blank node?) ... to identify the actual graph ...
   -- subject with the right type and a hasTarget ??

  don't allow creation if invalid
   - missing type, wrong type, multiple types
   - missing target, improper target
   - motivations must be an instance of  oa:Motivation
   - bad oa:xxx
   - if body ContentAsText, there must be exactly 1 cnt:cha

[2015-03-12 01:41] ndushay commented on #3
[code]

[2015-03-12 20:28] ndushay commented on #133
status code 403 will be returned.

[2015-03-12 20:43] darrenleeweber commented on #134
For blank node inputs for 'hasBody', should they be rejected on POST and/or PUT?

[2015-03-12 20:49] darrenleeweber commented on #96
A revised implementation is in https://github.com/sul-dlss/annotations2triannon/blob/master/lib/requires.rb#L11-L35, i.e.

[code]

[2015-03-12 21:11] ndushay commented on #134
nope.  blank node inputs for inner nodes ok.

[2015-03-12 21:50] ndushay commented on #133
eventually rip out this code per #84 -- this is a temporary fix.

[2015-03-12 22:23] #133 closed

[2015-03-12 22:43] azaroth42 commented on #134
The behavior I would expect is:

* Until we have provenance tracking, reject POSTs where the annotation has a URI. (As we can't create that URI)
* When we've tackled provenance, the URI should be associated with the annotation using oa:equivalentTo, as per:  http://www.openannotation.org/spec/core/publishing.html#Equivalence
* Any non oa:Annotation blank node should be given a URI by Fedora4, and

[2015-03-12 23:04] ndushay commented on #134
Rob, you gave us a spec for specific resource, which i implemented.  I think we store them in Fedora as type externalReference https://github.com/sul-dlss/triannon/blob/master/lib/rdf/triannon_vocab.rb at least for now.

So we are currently
* accepting blank nodes;  letting Fedora do its thing, and returning them as blank nodes when annos are served back out.
* accepting SpecificResource;  changin

[2015-03-16 22:23] ndushay opened #136 "body_type and target_type in Triannon Solr should be URIs"
(or should map to URIs used in the /search REST params for these).

The current algorithm to populate these fields is wrong and needs adjustment.  See "Annotation Lists in Triannon" document for spec on what these values should be.

[2015-03-16 22:24] ndushay opened #137 "Triannon search body_type, target_type"
after we have fix for Solr values for these fields, the Triannon search code will need to appropriately deal with mapping these REST params to Solr params.

[2015-03-16 22:24] ndushay opened #138 "Triannon search range queries for annotated_at date"
Will want range queries for this eventually.

[2015-03-18 00:43] darrenleeweber opened #139 "POST generates internal server error 500"
Ran triannon using `rake triannon:server_jetty` and the console trace contains:

[code]

The POST was done with RestClient, using:

[code]

where the `oa_jsonld` data is an open annotation with an OA context (in full, not as a URI), e.g.

[code]

Without the OA context, the annotation has the following json representation:

[code]

[2015-03-23 23:12] ndushay commented on #136
closing:   " should map to URIs used in the /search REST params for these."

[2015-03-23 23:12] #136 closed

[2015-03-23 23:17] ndushay opened #140 "integration tests for Mirador annos"
From: Drew Winget <awinget@stanford.edu>
Date: March 12, 2015 at 4:06:14 PM PDT
Subject: Re: on tagging in SW: javascript code info
To: Robert Sanderson <azaroth42@gmail.com>
Cc: Naomi Dushay <ndushay@stanford.edu> ...
<snip>

As far as annotations go, here are some examples of the only two variations that Mirador currently sends to catch (given below in OA format, which is how they're stored in M

[2015-03-24 00:44] darrenleeweber commented on #139
When the OA as jsonld is pasted into the form at /annotations/new, it works OK.  But when RestClient does a POST, it fails.  The RestClient POST looks like:

[code]

[2015-03-24 00:49] darrenleeweber commented on #139
Passing this ticket to someone else, because my dev environment will not allow debugging with binding.pry in the post method.

[2015-03-24 18:34] darrenleeweber commented on #139
I got pry working, only by adding 'pry' to the standard gem dependencies (outside the development group).  The dependency management for a rails engine is a bit different from an app; see http://edgeguides.rubyonrails.org/engines.html#other-gem-dependencies

This guide documentation indicates that development deps for an engine are only loaded when using the test app; as they say, "The development

[2015-03-24 19:09] darrenleeweber commented on #139
This was solved by wrapping the post data with additional params, i.e.
[code]

[2015-03-24 19:09] #139 closed

[2015-03-24 20:26] ndushay commented on #96
Need this for searching #127

[2015-03-24 21:26] darrenleeweber opened #142 "rake task for `triannon:install:migrations` missing"
While running `rake engine_cart:generate`, there is an apparent error that aborts rake related to `triannon:install:migrations`, i.e.

[code]

[2015-03-24 21:48] darrenleeweber opened #143 "triannon/graph.rb:38 doesn't handle an EOFError?"
trace:
[code]

[2015-03-24 22:56] darrenleeweber opened #144 "config/triannon.yml might contain typo?"
`test: &test` might be a typo?  Please double check this line:
https://github.com/sul-dlss/triannon/blob/master/config/triannon.yml#L8

[2015-03-24 23:09] cbeer commented on #144
Why do you say that? It looks like a perfectly valid use of the YAML anchor tags:

http://www.yaml.org/spec/1.2/spec.html#id2785586

(I'm not sure it's helping anyone, but it isn't broke.)

[2015-03-24 23:12] #144 closed

[2015-03-24 23:43] darrenleeweber opened #145 "Add new annotation URI to a triannon response for a POST request"
The triannon response to a POST does not appear to contain a URI for the new annotation resource, i.e.

[code]

Perhaps it could be added to a 'location' header value?

[2015-03-26 18:35] ndushay commented on #145
Release gem version 0.5.6 with the fix.

[2015-03-26 18:49] ndushay commented on #145
Updated triannon-dev with release 0.5.6.

[2015-03-26 18:49] #145 closed

[2015-03-27 20:26] ndushay commented on #142
I think this is because there are no db migrations as there is no db for triannon.  It can be ignored, for now.

[2015-03-27 22:26] ndushay commented on #96
addessed by #148 and in version 0.6.0

[2015-03-27 22:26] #96 closed

[2015-03-28 01:57] #142 closed

[2015-03-30 19:01] ndushay commented on #119
Boxes are "done".
* Still waiting on fedora box having NFS mount (? - ask @eefahy ).
* Supposedly triannon box is done - will know for sure when deploy is working
* have pull request in for solr core for new triannon.

[2015-03-30 19:06] azaroth42 opened #149 "Make a waffle.io board"
... and get out of Jira completely.

[2015-03-30 19:11] ndushay opened #150 "context caching - in memory vs. file"
@darrenleeweber said he would look into this -- whether it will save us anything or not.  See #96 for background.

We *may* be caching from a file at the moment with rack cache.

[2015-03-30 19:34] darrenleeweber commented on #150
The issues here are:
  - whether or not the json-ld context documents provide adequate cache information in the header response for a HEAD or GET request
  - the benefits of using an in-memory store for the meta-cache, see options documented at http://rtomayko.github.io/rack-cache/storage

[2015-03-30 19:45] darrenleeweber commented on #150
With regard to cache headers for the json-ld contexts, the header data below was retrieved for the IIIF contexts.  Most of the cache data does not declare it 'public' or 'private', so I'm not sure what that means, but it might be clearer if it were 'public'.  The expiry is set for about a day, which is not too bad, although this data may in fact have a much longer expiry if it not changed much.  A

[2015-03-30 19:46] darrenleeweber commented on #150
I've compiled related notes about caching in another issue, see https://github.com/ld4l/marc2linkeddata/issues/1

[2015-03-30 20:01] darrenleeweber commented on #150
With regard to rack-cache storage options:
  - the defaults for rack-cache use in-memory heap space for the meta and entity stores
  - triannon explicitly sets the meta and entity stores on the file system (instead of heap space)
    - Naomi wonders whether the rack-cache code might be using in-memory objects even when the meta/entity cache stores are on the file system?
  - One recommendation at

[2015-03-30 20:43] ndushay commented on #140
ensure:

- [ ] POST works
- [ ] GET works for posted
- [ ] searching work

[2015-03-31 21:06] ndushay opened #151 "context caching - rest-client 1.8.0 issues"
See https://github.com/sul-dlss/triannon-service/issues/7.   When there is a fix, we should update the cache used for testing the gem.

[2015-04-01 05:40] darrenleeweber commented on #117
Currently, /annotations responds with HTML, regardless of any Accept header request for RDF.  (BTW, triannon has 'views' for HTML UIs, but I would never have developed it as anything more than a data API, using a simple sinatra app, and I raised this concern in the early days of developing it.  Having said that, I have a lot to learn about rails engines and how triannon can be incorporated into a

[2015-04-01 05:43] darrenleeweber commented on #117
Although triannon may not support them all, RDF::Format.content_types includes:
[code]

[2015-04-01 17:19] ndushay commented on #117
I'm well aware, Darren.  When search is implemented, it will be a much better way to get a set of annos, including all the annos.  Be patient.   This is a know problem, in the queue and search part 1 will be done soon.

[2015-04-01 22:27] darrenleeweber opened #152 "POST response is rdf+xml data"
I believe the POST default response (no particular format requested) should be jsonld OA ...

[2015-04-02 00:17] ndushay commented on #152
@darrenleeweber has determined restclient defaults to xml  in Accept header, so this was on the client side.  w00t!

[2015-04-02 00:17] #152 closed

[2015-04-02 00:49] darrenleeweber opened #153 "Issue 404 response to GET /annotations/{id} where {id} doesn't exist"
The current response is a 200 OK when it should be a 404, e.g.
[code]

There is indeed a response body too, just a jsonld context, e.g.
[code]

[2015-04-02 01:00] darrenleeweber commented on #153
The triannon console logs contain:
[code]

[2015-04-02 20:44] azaroth42 commented on #149
Commenting from waffle to note:
    https://waffle.io/sul-dlss/triannon

[2015-04-02 20:45] #149 closed

[2015-04-02 20:58] azaroth42 commented on #150
How do we get this issue closed? :)

[2015-04-02 21:00] azaroth42 opened #154 "remove or improve /annotations/ route"
Currently a 7 second request to F4 takes more than 3 and a half minutes via Triannon. While this isn't a big deal while development is ongoing, it should be fixed or removed before deploying in case people try to use it.

[2015-04-02 21:05] azaroth42 commented on #73
Do we have a test for this to prove it's working as expected?

[2015-04-02 21:06] azaroth42 commented on #126
Already done I think? Or no, as mirador doesn't require it?

[2015-04-02 21:23] ndushay commented on #73
I don't know that it *is* working yet.  So no, we do not have a test yet.

[2015-04-02 21:23] ndushay commented on #126
decidedly not done.  I close the issues when they are done.  :-)

[2015-04-02 21:25] ndushay commented on #150
1.  @cbeer  amends pull request to RDF gem
2.  RDF gem merges cbeer's pull reqeust
3.  RDF gem cuts a new release
4.  we figure out how to do caching with changes
5.  we implement caching anew with changes

[2015-04-02 21:29] azaroth42 commented on #150
Assigning to @cbeer :) Please re-assign when we're not blocked by the RDF gem.

[2015-04-02 21:35] azaroth42 commented on #30
Seems like Lyo or Callimachus are the two best options (as we're not using non-rdf source yet in Triannon anyway).  Perhaps a ticket of interest to @darrenleewebber?

[2015-04-02 21:36] azaroth42 commented on #150
@azaroth to Poke Gregg.

[2015-04-02 21:39] azaroth42 commented on #110
To be discussed with @cbeer as to best way to integrate (also for indexing in general, and export to triplestore) @azaroth42 will schedule discussion before work begins on the ticket.

[2015-04-02 21:41] cbeer commented on #30
Check with @barmintor to get his opinion on other LDP implementations?

[2015-04-02 21:41] azaroth42 commented on #90
Is this Triannon or Triannon-Service?

[2015-04-02 21:46] azaroth42 commented on #117
Blocked by #154, and likely superseded by #127 anyway. Tagging as 1.0 but maybe close/wontfix

[2015-04-02 21:54] ndushay commented on #90
Triannon.  It's in the gem.  Rails engines are magic.

[2015-04-02 22:04] azaroth42 opened #155 "IIIF AnnotationLists should be framed to generate expected serialization"
The Annotation Lists from solr (through Triannon) should be framed with either
http://iiif.io/api/presentation/2/annotation_frame.json
or
http://iiif.io/api/presentation/2/annotationList_frame.json
as appropriate to ensure that the representation is what is expected by Mirador and other IIIF clients.

Example in JSON-LD playground of framing:
http://tinyurl.com/mn3orqp

[2015-04-02 22:05] azaroth42 commented on #155
Sub-issue of #127

[2015-04-02 22:18] azaroth42 opened #156 "Backup solution for Annotations"
There needs to be a way for high quality annotations to be backed up out of Fedora4 to a preservation system. Annotations should be able to be tagged as needing preservation, then a batch process could retrieve them, export and save elsewhere.

[2015-04-02 23:46] ndushay commented on #155
![untitled](https://cloud.githubusercontent.com/assets/96775/6975942/bc06f544-d957-11e4-967e-66deade4b5c7.png)

[2015-04-02 23:46] ndushay commented on #155
On 4/2/15 9:14 AM, Rob Sanderson wrote:

Hi Naomi,

A couple of fixes:

1. Can you drop the @graph nodes from the list?

So instead of
    resources: [{@graph: [{@id: ... }]}]
It would just be
    resources: [{@id:...}]

2.  Can you nest the body underneath the "resource" key?

So:  {"@id":"...", "@type": "oa:Annotation", "resource": {"@type": [dctypes:Text], "chars":""}}

I think that Mirador wou

[2015-04-02 23:47] ndushay commented on #155
![untitled 2](https://cloud.githubusercontent.com/assets/96775/6975958/e58cc0e2-d957-11e4-8749-9c0266edc61b.png)

[2015-04-02 23:53] ndushay commented on #155
commit 0381caf addresses this

[2015-04-03 00:04] ndushay commented on #151
ruby-rdf/rdf#175 is merged. Wait for new gem release and then use faraday to cache. Modeled here:

ruby-rdf/rdf#176

[2015-04-03 01:05] cbeer commented on #151
And now merged too. You should be able to use the Faraday adapter, and set the `FaradayAdapter.conn` to a Faraday::Connection with the cache middleware.

[2015-04-03 03:30] darrenleeweber commented on #151
See also https://github.com/crohr/rest-client-components/pull/9

[2015-04-06 21:57] ndushay commented on #155
closed with #157  (and gem release 0.7.0)

[2015-04-06 21:57] #155 closed

[2015-04-06 21:59] ndushay commented on #151
when #151 is addressed, it should mean this can be closed.

[2015-04-06 22:11] ndushay commented on #112
addressed with #158

[2015-04-06 22:11] #112 closed

[2015-04-06 22:27] ndushay opened #159 "creator handled"
@azaroth42 needs to spec how creator info should be stored in fcrepo4 and how searched

implement it (as part of provenance #64), including integration tests for storing and retrieving.

implement search for it  (leftover from #127)

[2015-04-06 22:28] ndushay opened #160 "search - default sort"
default sort should be by created date, descending (annotatedAt, or solr doc create date if missing?)

leftover from #127

[2015-04-06 22:30] ndushay opened #161 "search - by create time"
is this annotatedAt?  what if it's missing?  should we use Solr doc create time?

leftover from #127

[2015-04-06 22:32] ndushay opened #162 "paging of search results"
We need a way to page the triannon results, especially for search with no params ...

[2015-04-06 22:37] azaroth42 commented on #159
Dependency: Authentication #16 -- we need to know who the creator is :)
How it should be stored depends on what information is available to store.

The standard specification reference:  http://www.openannotation.org/spec/core/core.html#ProvAgents

Creator is oa:annotatedBy, so hopefully at least:

[code]

[2015-04-06 22:42] ndushay opened #163 "search - integration tests"
- [ ] target (and body) url  work w/ and w/o scheme
- [ ] target (and body) url solr escapes and url escapes as needed
- [ ] combines Solr q terms properly
- [ ] combines Solr fq terms properly
- [ ] combines Solr q and fq terms properly
- [ ] motivation works with full url or just frag
- [ ] bookmark annos
- [ ] contentAsText annos
- [ ] external URI annos
- [ ] mirador annos (see #140)
- [ ] def

[2015-04-06 22:43] #127 closed

[2015-04-06 22:58] ndushay opened #164 "use rdf-vocab in place of 4 local rdf-xxx gems"
if vocabs aren't in ruby-rdf/rdf-vocab, submit pull requests;  then use this gem and remove old ones.

- [x] add "remove_xxx_triples" methods to triannon gem

- [x] rdf-open_annotation (sul-dlss/rdf-open_annotation#3)
- [x] rdf-ldp (sul-dlss/rdf-ldp#3)
- [x] rdf-fcrepo4 (sul-dlss/rdf-fcrepo4#3)
- [x] rdf-iiif (sul-dlss/rdf-iiif#1)

[2015-04-06 23:00] ndushay opened #165 "create oa-graph and use gem"
combine triannon::graph class with @darrenleeweber's sul-dlss/annotations2triannon/blob/master/lib/annotations2triannon/open_annotation.rb.  (look in branches of this code for latest greatest version.)  Also include:

- [x] remove_xxx_triples from rdf-fcrepo4 and rdf-ldp gems
- [x] jsonld context url namespaces
- [ ] annotations2triannon/open_annotation methods see #3

and other useful goodies.

-

[2015-04-07 21:30] ndushay commented on #151
Gregg's fix https://github.com/crohr/rest-client-components/pull/9  was included in v1.4.0 of rest-client-components.

f339c022 addresses this.  Exploring memory cache before cutting new gem release

[2015-04-07 21:38] ndushay opened #166 "use faraday and faraday-http-cache instead of rest-client and rack-cache for jsonld context caching"
@cbeer feels faraday is a better way to go than rest-client for our local caching of jsonld context documents.

https://github.com/sul-dlss/triannon/tree/faraday-caching    branch has the configurations to use faraday and faraday-http-cache.

We're not using it at the present time because:
- [ ] faraday-http-cache doesn't work for HTTP 307, which is returned by OA dated url for jsonld context.  Ch

[2015-04-07 22:10] ndushay commented on #150
resources:

http://rtomayko.github.io/rack-cache/storage  (see "memcached storage" section)
if dalli:   https://github.com/mperham/dalli

Doing this requires a memcache daemon to be running on the Rails box, which means some more devops set up on the rails boxes and some configuration tweaks in the app itself (not the gem, but the app).

Testing that we are using the memcache - I'm sure there's a

[2015-04-07 22:11] ndushay commented on #150
@azaroth42 and I conclude that this will be tabled for now.  Perhaps to be revisited when triannon goes to prod and/or when triannon has more realtime users.

[2015-04-07 22:14] azaroth42 commented on #150
There's easier places to make performance improvements than this particular issue.  Lets get feature complete and then look to optimize, rather than prematurely make small and expensive changes.

[2015-04-07 22:24] ndushay commented on #151
Punting on in-memory cache #150 at this time.  Gem release 0.7.1 addresses this.

[2015-04-07 22:24] #151 closed

[2015-04-07 23:47] ndushay commented on #119
This issue was moved to sul-dlss/triannon-service#10

[2015-04-07 23:47] #119 closed

[2015-04-08 17:27] azaroth42 commented on #143
Looks ugly :( Is there a repeatable way to generate the bug, or is it a (network)? robustness issue?

[2015-04-09 18:03] azaroth42 commented on #154
Make as a search with no arguments to return the entire annotation set.  Dependent in the future on #162 when there's a lot of annos to deal with.

[2015-04-09 18:06] azaroth42 commented on #166
N.B. Doesn't work. Defer at least until it does :)

[2015-04-13 17:07] azaroth42 commented on #73
@wmene If you recall this issue, was it that F4 might generate a path with // in it? Or just that it adds / to the end of URLs as needed for containers?  The first would be a problem, (need a solution with test), the second seems to be working as expected (and can just close the issue)

[2015-04-13 18:05] ndushay commented on #154
Don't forget to deal with error responses from Solr

[2015-04-14 20:09] ndushay commented on #117
This will be addressed by #154.

[2015-04-14 20:09] #117 closed

[2015-04-14 22:41] ndushay commented on #153
addressed with triannon gem version 0.7.2;  deployed to  dev  (and stage, which still isn't ready)

[2015-04-14 22:41] #153 closed

[2015-04-15 17:57] ndushay opened #169 "triannon receives webauth info in request"
If we know
* what info we will be getting in request
* how we will be getting that info

then we can write the code in Triannon that
- [ ] turns the info into provenance
- [ ] whatever else needs to be done ...

[2015-04-15 18:32] ndushay commented on #169
@azaroth42 - want to add to this?  Write / move a spec  from someplace to this ticket?

[2015-04-15 21:01] ndushay commented on #169
re authentication:  https://itservices.stanford.edu/service/directory/access/requesting

we prob want  webAuthGeneral bundle, maybe some of the world visible attributes, too.

[2015-04-15 21:14] ndushay commented on #169
@azaroth42  One important question:  for webauth'ed request, are we interested in using a string for the person in anno provenance, or a thing?   If a thing, how do we get it?

[2015-04-15 21:19] azaroth42 commented on #169
Definitely a thing. But we can use the email address from sunetid as a
mailto URI if necessary.

R

On Wed, Apr 15, 2015 at 2:14 PM, Naomi Dushay <notifications@github.com>
wrote:

--
Rob Sanderson
Information Standards Advocate
Digital Library Systems and Services
Stanford, CA 94305

[2015-04-15 21:21] ndushay commented on #169
world visible:  suSunetID, suUniqueIdentifier
webAuth bundle:  suRegID
however they might not always be populated.  I have no idea.

[2015-04-15 21:59] ndushay commented on #169
after speaking with @cbeer, the actual directory data the client app utilizes is just  sunetid and workgroups.   So we need

- [ ] spec for how (SW / mirador / xxx) should pass sunetid and workgroup info to triannon in request
- [ ] spec for how to get from sunetid / workgroups  to  URIs
- [ ] spec for, given a particular sunetid and workgroups, what triannon service actions are allowed
- [ ] spec

[2015-04-15 22:01] ndushay commented on #159
this is part of #169 (connected to #169)

Given the above, is that info okay to be stored in the anno container (not /b, not /t, and not a new (/p?) container?

@azaroth42

[2015-04-15 23:41] ndushay commented on #154
![untitled](https://cloud.githubusercontent.com/assets/96775/7171499/233b3212-e38e-11e4-9a8b-dc7b2ff4ea6d.png)

[2015-04-15 23:58] azaroth42 commented on #169
I think the answer to most of those things is webACLs in Fedora4.  But we
need to validate the requirements that we should support now.

The easiest thing to do is provenance and populating the annotatedBy agent
description, as that's just descriptive with no processing/authorization
implications.  That seems like a mapping between the webauth accessible
properties and foaf (or similar).

On Wed,

[2015-04-16 22:50] ndushay commented on #15
@azaroth42  is this now superceded by #169 ?

[2015-04-16 22:54] ndushay commented on #165
more accurately, combine with sul-dlss/annotations2triannon/blob/master/lib/annotations2triannon/open_annotation.rb

and look in branches of this code for latest greatest version.

[2015-04-17 00:10] azaroth42 commented on #15
Yep.

[2015-04-17 00:10] #15 closed

[2015-04-17 23:38] azaroth42 opened #171 "Rob to verify Stakeholder Requirements"
* Mirador vs WebAuth
* Detail level of provenance description of user
  * Okay to store sunetid
  * Okay to publish sunetid?
  * Okay to publish name?
* Anticipated uses for Triannon Beta ... mirador w/o auth, plus auth'd SW?

[2015-04-17 23:44] ndushay commented on #171
connected to #16

[2015-04-17 23:45] ndushay commented on #169
connected to #16

[2015-04-17 23:45] ndushay commented on #159
connected to #16

[2015-04-17 23:46] ndushay commented on #64
connected to #16

[2015-04-18 14:41] azaroth42 opened #172 "Newbie docs / missing something?"
For fun (actually to see if I could load annotations from newspapers), I grabbed the code to run locally.

Following the docs I got to:
[azaroth@localhost triannon]$ rake triannon:create_root_container
rake aborted!
LoadError: cannot load such file -- rdoc/task
/home/azaroth/Development/triannon/triannon/Rakefile:105:in `require'
/home/azaroth/Development/triannon/triannon/Rakefile:105:in `<top (r

[2015-04-18 14:50] azaroth42 commented on #172
Docs should also list the need for a JS runtime with link to NPM.
I found the install docs at the top of:
   https://github.com/iiif/m1

To be useful. (Thanks @aeschylus)

[2015-04-18 14:53] cbeer commented on #172
That's a Rails requirement and none of our business.

[2015-04-18 14:55] cbeer commented on #172
Did you try `bundle exec rake` (and, did you `bundle install` first?)

[2015-04-18 15:08] azaroth42 commented on #172
I did wonder why a ruby app needed a JS runtime... but it prevents the tests from running if you don't have it. Perhaps we (dlss) can have a newbie doc that repos can point to?

I did bundle install yes :) And then just rake / rake triannon:create_root_container, as per README... though following the rails version at the top rather than the test instance at the bottom.  Now that I have an internal

[2015-04-18 15:15] cbeer commented on #172
Ah, I didn't know you were trying to run these from the gem, not generating a new application. That said, I can't figure out why we're keeping (broken) rdoc tasks around, so: https://github.com/sul-dlss/triannon/pull/173

[2015-04-18 15:18] azaroth42 commented on #172
Because I was walking through the README from top to bottom, being impatient :)
Now stuck with jetty not listening on 8983 after doing the install rake tasks and then jetty start :(  Will debug with @ndushay next week

[2015-04-20 17:52] azaroth42 commented on #165
Should be in separate repository for releases etc.

[2015-04-20 19:07] darrenleeweber commented on #154
Now that /annotations works off /search and therefore Solr, it should improve performance.  There should be no concerns about consistency and availability, as any POST will populate both F4 and Solr before it returns a successful response.  Therefore subsequent GET on /annotations from Solr will return the new annos.  This can be tested in the client specs in sul-dlss/triannon-client#4.

[2015-04-20 19:19] ndushay commented on #154
- [x] merge this fix to master (#170)
- [ ] cut a new gem release with this fix
- [ ] deploy to dev
- [ ] deploy to stage

[2015-04-20 22:44] #154 closed

[2015-04-20 23:20] ndushay commented on #172
A ha!  I know the problem.  After running

[code]

you can either do:

[code]

OR

[code]

I will modify the README.

[2015-04-20 23:30] ndushay commented on #172
hah - it IS documented, under "Running the application in development"

[2015-04-20 23:54] ndushay commented on #172
Have revised README in #173, and have added information on how to check if Solr and Fedora4 are running ok in jetty and what to do if they aren't.

[2015-04-21 00:11] ndushay commented on #172
@azaroth42 if you feel I have adequately addressed the confusion, please close this issue.

[2015-04-21 00:13] azaroth42 commented on #172
Yep, looks great :) Will try walking through the instructions (and maybe resubmit/reopen) but looks good for now!

[2015-04-21 00:13] #172 closed

[2015-04-21 00:21] ndushay commented on #172
released as v1.0.1 and deployed to -dev and -stage, just for good measure.

[2015-04-21 00:28] ndushay commented on #143
@darrenleeweber do you have the data that generated this, or some other way to repeat it?  o.w. I think it should be closed with "cannot replicate" ...

[2015-04-21 02:24] darrenleeweber commented on #143
This is just a case for network exception handling with a rescue/retry block, e.g.
https://github.com/sul-dlss/rdf-resource/blob/master/lib/rdf-resource/resource.rb#L59-L79

[2015-04-21 19:16] ndushay commented on #132
@azaroth42

Had discussions with @mejackreed, @jkeck and @darrenleeweber this morning about root containers and routes.  The conversation had me questioning the motivation of multiple root containers.  Which of the following are motivations for multiple root containers?  Have I left out any reasons?

- [ ] allow retrieval of annos grouped by "dms" or "sw" or whatever  (note:  this could be accompl

[2015-04-21 21:07] ndushay commented on #143
the stack trace implies the error occurred when trying to get a Hash from the anno, preparatory to writing to Solr:  https://github.com/sul-dlss/triannon/blob/master/app/models/triannon/annotation.rb#L104-107
* that code has been reworked and now takes the existing Graph object and converts it to a Solr hash in Triannon::SolrWriter  https://github.com/sul-dlss/triannon/blob/master/app/services/tri

[2015-04-21 21:07] #143 closed

[2015-04-23 01:05] ndushay commented on #165
See sul-dlss/oa-graph.   This is still a valid issue as triannon will need to be refactored when oa-graph is baked.

[2015-04-26 21:57] azaroth42 commented on #132
Plus:
 * Reduce number of annotations in any single container
 * Allow different validation / representation based on container (e.g. SW might require information that other uses/containers do not)
 * Future annotation grouping requirements we don't know yet

I don't think that recording information in the annotation is a viable way forward for authorization -- you don't want to go back to every a

[2015-04-26 22:46] azaroth42 commented on #171
Lazy consensus that Mirador with authentication support is not a requirement, and we should design for authenticated SW demo.

[2015-04-27 17:35] ndushay commented on #132
easy to address filtering by container -- SW will use Solr to look up annos, and the owning group will be used as a search filter in Solr by SW, whether it originates in the anno root container or as part of the provenance info in the individual anno.  So Rob's points:

* reduce number of annos in any single container
  * true.  Question:  will it matter?  Will it affect Fedora performance?  It wo

[2015-04-27 17:59] azaroth42 commented on #132
Re FCreepo's performance, it was determined in the blank node skolemization work that a single container with many many objects would reduce the performance.  In that case they split up the resources in to a pair tree structure. This is the default identity management in 4.1.1.  So yes, it would be valuable for performance reasons.

Re Validation, I guess that multiple routes in triannon could do

[2015-04-27 18:09] ndushay commented on #132
Performance is a very convincing argument.  Batch reindexing as well.   Let's do it.   We can always revisit later.  Our vast usage data will inform future design decisions, no doubt.

[2015-04-28 19:05] ndushay opened #176 "refactoring"
for app/models/triannon/annotation_ldp.rb

"Try replacing with xxx.collect {|s| s.body.uri}. This pattern may apply to many sections of your code, so you might want to play with it first to be sure you're getting what you want and get familiar or comfortable with it.

See discussions of this ruby method, e.g.
http://stackoverflow.com/questions/5347949/whats-different-between-each-and-collect-metho

[2015-04-28 19:23] darrenleeweber opened #177 "Revise hypermedia views"
Explore http://data.bioontology.org/

Notice how the jsonLD is presented in a way that is very easy to navigate in the browser.  The code for this is somewhere in https://github.com/ncbo/ontologies_api.  There may be other ways to do this too, e.g. review some google searches for something like "browser views for jsonld".

[2015-04-28 20:40] ndushay commented on #165
I am closing this ticket;  the remaining work is represented in separate issues

* #3 - incorporate code from sul-dlss/annotations2triannon
* #7 - refactoring, esp array handling
* have sul-dlss/annotations2triannon use this gem (will get ticketed in that project)

[2015-04-28 20:40] #165 closed

[2015-04-28 20:41] ndushay commented on #171
Also a question:  for Beta, are we talking about ONE ldap group with write permissions for SW, or multiple groups, or individuals?

[2015-04-28 20:53] azaroth42 commented on #171
Not individuals.

If you can do one group, is it hard to do more than one?

Also, I think the distinction between authenticated and not is interesting
-- e.g. anyone who has a sunetid might be able to create annotations/tags
on SW resources that are more highly regarded than the great unwashed.

So I think the killer demo for SW is:

* Allow anyone to annotate anything, but have the annotations ra

[2015-04-28 21:07] ndushay commented on #171
in the context of this ticket, my question was really "what is in scope for beta".   :smile_cat:

[2015-04-28 21:10] darrenleeweber commented on #177
See specifically:
- https://github.com/ncbo/ontologies_api/blob/master/views/json_as_html.haml
- https://github.com/ncbo/ontologies_api/tree/master/public/static/jsonview

The controllers all return by calling a common 'reply' method to do the serialization, see:
- https://github.com/ncbo/ontologies_api/blob/master/helpers/application_helper.rb#L105-L132

Note how the `reply` method handles author

[2015-04-28 21:58] darrenleeweber opened #178 "/search.json reponse opens multiple tabs in firefox"
Creating a ticket on the browser behavior for the response to /search.json, so it's a known issue although it's not clear yet whether it's something about the response or something about firefox (or a firefox plugin).

[2015-04-28 23:01] azaroth42 commented on #171
https://docs.google.com/document/d/13Iu3-hS-nSvQVd1M-Ph8RbjYhoMxETj42uRogTrJ4c4/edit#

[2015-04-29 00:03] ndushay commented on #164
- [ ] IIIF vocab in rdf-vocab  ruby-rdf/rdf-vocab#14
- [ ] new rdf-vocab gem released
- [ ] triannon gem doesn't use rdf-iiif

then we're done!

[2015-04-29 21:01] ndushay commented on #132
So it seems we want this:

uber anno container:
* just one of these for triannon app
* "anno" (e.g.  http://yer-ldp-storage-url/anno or   http://fedora.somewhere.org/rest/anno
* LDP BasicContainer?  @azaroth42 pls clarify
* has anno containers as members

anno root container:
* member of uber anno container
* one of these per "root"
  * e.g.  "dms" or "sw" or "foo"
  * a given root container maps

[2015-04-29 21:05] azaroth42 commented on #132
Yes. /anno (or /annotations/ or /triannon/) should be a BasicContainer.
It would have further basic containers as its members, such as dms or sw, which Triannon would POST to.

So:  http://triannon.somewhere.org/annotations/dms/ for example, which contains the individual annotations.

[2015-05-01 18:03] ndushay opened #184 "Should triannon do LDAP lookup?"
There is an outstanding question (see comments) on whether:
1.  The client does the authentication and passes just the sunetid, then Triannon does the query to find out of the user is part of the workgroup.
2.  The client does the authentication and passes the sunetid AND all of the user's workgroups, then Triannon just does the comparison against the container's workgroup.
3.  The authorization s

[2015-05-01 18:03] ndushay commented on #184
Willy sez:

"hmm, I've only done it in the context of webauth.  We configure the apache webauth module to only allow sunetids that belong to a specific set of LDAP/workfgroups.  Once they've authenticated and pass that check, the workgroup they belong to is set as an environment variable by the webauth module…

"but in your case, you need to do ad-hoc LDAP querying of workgroups, right?  I talked

[2015-05-01 18:04] ndushay commented on #184
Willy sez

- [ ] we would need some kind of service principal that has the proper LDAP permissions to make those kind of queries

[2015-05-01 18:05] ndushay commented on #184
@cbeer have we done anything like this in dlss yet?   @azaroth42

[2015-05-01 18:09] ndushay commented on #184
@wmene says:

"probably want a wrapper around the ldapsearch client https://itservices.stanford.edu/service/directory/clientsoftware/commandline"

[2015-05-01 18:10] ndushay commented on #184
@cbeer says

"but if you’re already trusting SW to send you the right username, why not trust it to send the right workgroup?"

"if SW does it, it gets to use webauth, which we know how to do.  And you aren’t asking the powers that be for the power to look up random stuff in LDAP, just for specific users, so it’s probably an easier sell to the data owners."

[2015-05-01 18:11] ndushay commented on #16
see #184

[2015-05-01 18:12] cbeer commented on #184
I don't know if we've done it in DLSS, and would strongly discourage it if there's a way to get e.g. searchworks to do the work for you, using plain old mod_webauthldap (that we already know how to use...).

[2015-05-01 18:17] ndushay commented on #184
hmm.  Is this the right bits of work?

* get approp LDAP groups set up, and approp permissions to do LDAP group lookups given sunetid from webauth
* code approp LDAP group lookup in SW branch (along with "create an anno" - kinda like existing branch from @ndushay and @jchristo4 )
* code approp triannon write-it-to-the-correct-root-container based on SW POST info, trusting SW app to have done LDAP

[2015-05-01 18:18] ndushay commented on #184
@wmene says:

"my guess is that you'd need the posixGroup attribute bundle for this service principal.  https://itservices.stanford.edu/service/directory/access/attributebundles"

[2015-05-01 18:20] ndushay commented on #184
@wmene says:  "having (SW) do the lookup will only work if you know the set of all workgroups that you need to authenticate against"

[2015-05-01 18:30] azaroth42 commented on #184
Options discussed with @cbeer:
 * Lookup from Triannon -- we need to know first what permissions will be needed to do the (member in wg)? query, and if we can get them.  Secondly we need to know how to do that query.
 * Prefixed workgroups for triannon, that SW would send all of (e.g. triannon-library-dlss-staff).  However this would be a custom permission set, which we would need to get blessed,

[2015-05-01 18:39] ndushay commented on #184
@LynnMcRae sez "to date we've only requested the level of privgroup look up that is released to webauth, so desired/alllowed (by stem) workgroup membership is passed into apps after webauth …  we are looking into the next level of independent privgroup query direct to ldap for Argo"

[2015-05-01 18:42] ndushay commented on #184
@LynnMcRae sez  "why can't you just get the workgroup memberships passed in via webauth like apps typically do?"

@LynnMcRae sez  "establishing workgroups is a separate thing, via workgroup.stanford.edu … we have three established stems — sul (formerly sulair), sdr and dlss and more can be requested via HelpSU"

[2015-05-01 18:44] ndushay commented on #184
@LynnMcRae sez "releasing membership to apps (via webaith or in general) is usually by stem, and only for stems that you (your group/app/etc) own and manage.  plus a public set of privgroups.  (workgroup names become privgroup entries in individual ldap entries, if that wasn't obvious)"

[2015-05-01 18:50] azaroth42 commented on #184
So we could create sul-triannon-* WGs and then maintain them, have SW and all other apps have to do the request and pass the information along, then Triannon needs to trust the app to do this accurately.  I see no value here compared to maintaining the groups outside of LDAP in Triannon, and the app just needs to pass the sunetid.

[2015-05-01 18:52] ndushay commented on #184
i'm declaring the next step to be a meeting that will result in actual decisions on
# what exactly we're trying to support in Triannon (and why and with what deadlines)
# how exactly we will support those requirements.

[2015-05-01 18:59] ndushay commented on #184
@LynnMcRae sez "there's a lot of semantics to be careful about as well … Parker has subscribers and institutions, non-sunetuid users and no real use for Stanford WGs beyond their role in defining "Stanford Community" …  Argo/DOR has roles and permissions which would be thought of as groups of people, but that leverages workgroups in order to assign independently managed institutionally or library

[2015-05-04 20:56] ndushay commented on #73
Begin forwarded message:

From: Willy Mene <wmene@stanford.edu>
Subject: Slashes in fedora4 URLs
Date: October 27, 2014 at 11:41:13 AM PDT
Cc: Naomi Dushay <ndushay@stanford.edu>
To: Rob Sanderson <azaroth@stanford.edu>

Hey Rob,

When fedora4 creates new resources, the URL's to reach them have extra subpaths added as a prefix.  For example, if you create a new resource at
http://localhost:8983/fe

[2015-05-04 21:01] ndushay commented on #73
Begin forwarded message:

Date: October 27, 2014 at 4:14:29 PM PDT
From: Rob Sanderson <azaroth@stanford.edu>
To: Chris Beer <cabeer@stanford.edu>
Cc: Willy Mene <wmene@stanford.edu>, Naomi Dushay <ndushay@stanford.edu>
Subject: Re: Slashes in fedora4 URLs

In theory, I agree, but people still often look at the URIs that get minted.  It's certainly not crucial that either Fedora or Triannon do it.

[2015-05-04 21:53] ndushay commented on #73
The only reason I can think of that slashes in the uuids would matter is for parsing out your base-url, parent containers and slugs.   If we have know baseurl and parent (root) containers (and we do - in a config .yml file), and we have known slugs (e.g.  "b" and "t" at the lowest level), then this concern could become moot.

@cbeer says "my big suggestion is don’t fork fedora; there’s configurati

[2015-05-04 22:20] ndushay opened #186 "don't fork fcrepo4 to avoid pair-tree in url"
IF we want to continue avoiding pair-tree in url

[code]

rather than

[code]

THEN:  use runtime java vars for fcrepo4  rather than fork of fcrepo4 with diff minter.

We are currently using sul-dlss/hydra-jetty edge branch which is a fork of hydra-jetty with fedora 4.0.0.beta from late Oct 2014 altered to not have the pair tree.  We use this for local development (local jetty instance) and we als

[2015-05-04 22:26] ndushay opened #187 "upgrade to fcrepo4 4.1.1"
in order to create Basic Containers (connected to #132) we need a more recent version of Fedora than Fedora 4.0.0-beta-04-SNAPSHOT,  which is what is currently in hydra-jetty deployed with triannon for development, and also used on fedora-dev and fedora-stage.

Instead of upgrading our fork of hydra-jetty, the intent is to use the latest released version of fcrepo4, which is 4.1.1.

This is connec

[2015-05-04 22:29] ndushay commented on #186
Note that Willy's minter.xml is here:

https://gist.github.com/wmene/82ae3de1c88d6fb2f9ae

and other localizations in sul-dlss/hydra-jetty can be viewed at https://github.com/sul-dlss/hydra-jetty/commits/fedora-4/edge -- basically, it was change the minter, rebuild the war file, add a Rakefile to build the artifact for jenkins.

[2015-05-05 01:35] ndushay commented on #78
this got fixed - it is correct with Fedora 4.1.1

[2015-05-05 23:41] ndushay commented on #187
@azaroth42

Fedora 4.1.1 does something diff by default vis-a-vis container creation.   I want to check this:

über-root container:  Basic
each root container (e.g. “dms”, “lib-guides”, “sw”, etc.):   Basic
anno base container:  Basic
/t and /b  containers:   Direct
specific  /t/xxx and /b/xxx  containers:   Basic

Is this correct?

[2015-05-05 23:45] ndushay commented on #132
See #187 for more specifics on container types (when to use Basic vs. Direct)

[2015-05-06 00:50] ndushay commented on #187
- [ ] ensure inline data is fedora 4.1.1 in specs
- [ ] cut a new release of gem.  note:  prob not backwards compatible.
- [ ] fedora dev uses released fedora (puppet scripts w devops involvement) (See SAR-2759)
- [ ] deploy new triannon to triannon dev
- [ ] fedora stage uses released fedora (puppet scripts w devops involvement) (See SAR-2759)
- [ ] deploy new triannon to triannon stage

[2015-05-06 01:01] ndushay commented on #73
I am closing this in favor of #186 (and #187) -- if we are using Fedora 4.1.1 vanilla, then we are using the Fedora ids which have the pair tree prefixes.  With the changes for Fedora 4.1.1 in #188, we know that triannon works with the pair tree prefixes used by Fedora.

[2015-05-06 01:01] #73 closed

[2015-05-08 17:42] azaroth42 commented on #187
Stamp of approval, sorry it took so long :)

[2015-05-08 17:43] ndushay commented on #132
Fedora 4.1.1 does something diff by default vis-a-vis container creation.  per @azaroth42  2015-05-08:

container | type
------------- | -----
über-root container | Basic
each root container (e.g. “dms”, “lib-guides”, “sw”, etc.) |  Basic
anno base container |  Basic
/t and /b  containers |   Direct
specific  /t/xxx and /b/xxx  containers | Basic

[2015-05-09 01:29] darrenleeweber opened #191 "Cannot delete an annotation"
This is a client console session where all the reasonable alternatives for 'id' are explored and none of them can be deleted (after creating the anno and getting it's 'id').  Do the triannon specs include a test for this?

[code]

Note that `tc.site` is a restclient resource for connecting to a triannon running on localhost, i.e.
[code]

[2015-05-09 01:35] darrenleeweber commented on #191
Looking at the fedora repo, we have a URI for this anno at `http://localhost:8983/fedora/rest/anno/4b/30/aa/d6/4b30aad6-c512-4838-a328-bcd94f3cec4f` and the anno data itself has a UUID of `9dd33caa-2fab-43de-9365-0a8e958c8a1e`.  However, using that UUID doesn't help, i.e.
[code]

[2015-05-09 01:45] darrenleeweber commented on #191
Blocks https://github.com/sul-dlss/triannon-client/issues/8

[2015-05-09 02:44] darrenleeweber opened #192 "jetty startup hindered by solr indexing"
After wiping and recreating the jetty container, it will startup in reasonable time.  However, once the triannon:jetty_setup is included, it can take a very long time to startup.  It seems to be hampered by creating a new solr index, i.e.

[code]

Can we disable this indexing?

[2015-05-11 21:33] ndushay commented on #162
@azaroth42:  @darrenleeweber   has already run into a problem because Solr was only returning the first 20 results.  I upped Solr to return 2500 results, but it would be a bad idea to make it infinite for performance reasons, I imagine.

Dunno if this should get a higher priority ...

[2015-05-11 21:35] darrenleeweber commented on #191
This is resolved by encoding the annotation ID, e.g.
[code]

[2015-05-11 21:35] #191 closed

[2015-05-11 21:39] darrenleeweber commented on #162
Maybe this helps: http://blog.endpoint.com/2011/12/sunspot-solr-rails-working-with-results.html

[2015-05-13 20:09] #164 closed

[2015-05-14 00:15] #192 closed

[2015-05-14 17:49] #187 closed

[2015-05-14 17:54] ndushay commented on #186
I have disabled hydra-jetty-custom in our jenkins and added deprecation warnign to the description.

[2015-05-14 18:26] ndushay commented on #186
Here is an email from Willy giving the context for the existence of our localized hydra-jetty and its jenkins build:

From: Willy Mene <wmene@stanford.edu>
Subject: Status of Triannon and fedora4 deployment to our VMs
Date: October 29, 2014 at 2:12:24 PM PDT
To: Rob Sanderson <azaroth@stanford.edu>, Naomi Dushay <ndushay@stanford.edu>

Here's where we're at:

Fedora4 on sul-fedora-dev-a
- Because

[2015-05-14 22:56] azaroth42 opened #197 "Document apache configuration process"
As the CORS headers are added by apache, and browser based clients such as Mirador or Annotator will not work without it, there needs to be documentation about how to get it configured.  Similarly, it should be noted that the jetty use won't work to test this situation.

[2015-05-18 19:08] ndushay commented on #140
@azaroth42  Note:

1. annos are in IIIF context
2.  examples have
[code]
but the context url doesn't resolve, and this one  https://github.com/danielcebrian/catch/blob/master/data/fixtures/annotations.json   doesn't have viewport.

[2015-05-18 19:24] azaroth42 commented on #140
@aeschylus I thought we agreed that the annotations would be transferred in the OA context, not the IIIF context?  e.g. as per http://www.openannotation.org/spec/core/publishing.html#Serialization

(for exactly this reason)

[2015-05-18 21:30] aeschylus commented on #140
Hm. I have clearly not understood the implications/details of this. The spec says they may be transferred in any context capable of expressing the graph, but I'm happy to transform it. The scope is another matter. Is the problem that the @context doesn't resolve to something that can help transform the @type? If I remember the archaeology of the catch:Viewport, this was a way for us to get the tar

[2015-05-18 21:34] aeschylus commented on #140
The "scope" field was a custom invention for representing what was being called "bounds" at the time. This was a description of the appropriate zoom framing rectangle _from which_ to view the target annotation region. Should we represent this a different way?

[2015-05-19 01:02] darrenleeweber commented on #3
FYI, this is an example of how I used json-schema to validate an API endpoint in tests:
  - https://github.com/ncbo/ontologies_api/blob/master/test/controllers/test_projects_controller.rb#L8-L33
  - https://github.com/ncbo/ontologies_api/blob/master/test/controllers/test_projects_controller.rb#L83
  - https://github.com/ncbo/ontologies_api/blob/master/test/test_case.rb#L155-L168
  - https://github

[2015-05-19 01:33] azaroth42 commented on #3
For reference, a JSON schema for validating Open Annotation:
    http://www.idpf.org/epub/oa/#h.b2nk2onxjepf

However please note that this is not a priority for Beta, so we can keep
this in our back pocket for later.

[2015-05-19 23:26] ndushay commented on #132
remaining work:

- [ ] ldp_writer  copes with anno containers under uber root container
- [ ] ldp_loader copes with anno containers under uber root container
- [ ] ldp_mapper copes with anno containers under uber root container
- [ ] annotations controller copes with anno containers under uber root container.  (checks for recognized anno_root containers from config;  errors if unrecognized)
- [ ]

[2015-05-19 23:48] ndushay commented on #186
@eefahy  I just want to confirm that I can remove the jenkins build at  https://jenkinsqa.stanford.edu/job/hydra-jetty-custom/  and that I can remove the git repo https://github.com/sul-dlss/hydra-jetty --  no puppet dependencies now, correct?

[2015-06-01 21:34] ndushay commented on #72
- [ ] integration tests
  - [ ] choice
  - [ ] content_as_text
  - [ ] external uris
  - [ ] no body
  - [ ] specific resource
  - [ ] Solr
- [ ] annotation model
- [ ] annotations controller
- [ ] IIIF Anno list
- [ ] LdpWriter
- [ ] search controller
- [ ] solr searcher
- [ ] solr writer
- [ ] viewing an anno

[2015-06-10 00:04] ndushay commented on #72
This will be closed after a PR for #132 .

[2015-06-12 00:26] #72 closed

[2015-06-12 00:27] ndushay commented on #132
- [x] cut gem release 2.0.0
- [ ] update triannon-services app
  - [ ] update gem to new version
  - [ ] README
- [ ] deploy
  - [ ] to dev
  - [ ] to stage

[2015-06-12 17:31] ndushay commented on #184
@azaroth42 can this be closed now?

[2015-06-12 17:56] azaroth42 commented on #184
Yep!

[2015-06-12 17:56] #184 closed

[2015-06-17 22:23] darrenleeweber commented on #132
specs on sul-dlss/triannon-client are failing, so the triannon server container and startup have changed and/or the RESTful API has changed.  If we assuming triannon is OK because all the triannon specs are OK, then the fixes must be made to the client.

[2015-06-17 22:28] azaroth42 commented on #132
I don't think we should assume that the server is clean just because the tests are passing.  It could be that the tests don't accurately reflect the requirements.  If you can diagnose what's going wrong in the client interaction (I imagine more than just updating the endpoint URI?) would be appreciated so we can investigate.  Thanks D!

[2015-06-17 22:37] darrenleeweber commented on #184
I've reviewed this issue to catch up on the discussion.  There might be useful reference content that might be useful in the playbook?

[2015-06-17 22:38] azaroth42 commented on #184
:+1:

[2015-06-18 20:54] darrenleeweber opened #202 "http://localhost:3000/ encounters redirect to /annotations and throws 500 response"
For the latest master branch, the server at http://localhost:3000/ redirects to /annotations and that fails; the console log shows:
[code]

[2015-06-18 21:17] darrenleeweber commented on #202
When running `rake` on a fresh git clone (in the master branch), there are 49 failures.

[2015-06-19 00:38] cbeer commented on #202
I suspect Rack 1.6.3 was buggy -- they've since released Rack 1.6.4 and I'm not seeing any test failures.

[2015-06-19 15:37] darrenleeweber commented on #202
Ok, updated to rack 1.6.4 and everything passes using the VCR data in the repo.  However, after `rm -rf spec/internal; rm -rf spec/fixtures/vcr_cassettes/*` and then running `rake`, there are a lot of test failures (181).  The test suite should be more robust and this might be a problem with using VCR data on a regular basis because code changes may be passing with stale data.

[2015-06-19 15:39] darrenleeweber commented on #202
BTW, the Gemfile.lock is in gitignore, so there's a chance we may have a different bundle of gems.

[2015-06-19 15:56] darrenleeweber commented on #202
Update:  specs are passing after:
[code]

Also, the http://localhost:3000/ is redirecting to /annotations OK.  So I have to conclude that the bundle update and re-initializing the jetty container services has resolved this issue.  The remaining issues are:
  - whether or not the default rake task should detect missing VCR data and then initialize the jetty container services and
  - whether .gitig

[2015-06-22 22:41] ndushay commented on #132
I'm about to deploy this to stage now as I've not heard that there are issues on the server side.

[2015-06-22 23:37] ndushay commented on #132
I am closing this ticket, as I have now deployed to stage and dev both, including some gem updates for security reasons.

[2015-06-22 23:37] #132 closed

[2015-06-22 23:38] ndushay commented on #186
@eefahy - I would love to close this ticket.  Waiting on you to confirm that I can remove the jenkins build at https://jenkinsqa.stanford.edu/job/hydra-jetty-custom/ and that I can remove the git repo https://github.com/sul-dlss/hydra-jetty -- no puppet dependencies now, correct?

[2015-06-22 23:56] darrenleeweber commented on #132
@ndushay - WRT "I've not heard that there are issues on the server side" and the deployment to 'stage'.  I have not yet had a chance to run the DMS ETL on the -dev server and I did not know that you wanted feedback on -dev today.

[2015-06-23 20:59] darrenleeweber opened #203 "auth timeouts are configuration parameters"
The authentication parameters for client/access token timeouts should be configuration params.  The current values of 60/3600 are probably fine for most use cases (i.e. reasonable defaults).

[2015-06-23 22:43] ndushay commented on #169
@azaroth42 i think this is dead now?  superceded by some other issue/document?

[2015-06-23 23:14] azaroth42 commented on #169
Quite dead :)

[2015-06-23 23:14] #169 closed

[2015-06-23 23:19] darrenleeweber commented on #203
This should be fixed in 58f052d, which will be reviewed at some point in a PR for the `feature/auth-ish` branch.

[2015-06-23 23:19] #203 closed

[2015-06-23 23:20] darrenleeweber commented on #203
@ndushay & @azaroth42 - thanks for the suggestion & confirmation to configure these values.

[2015-06-23 23:23] azaroth42 commented on #203
:+1: :beers:

[2015-06-25 23:27] ndushay commented on #129
this has been fixed in SearchWorks ld4l branch, with commit  sul-dlss/SearchWorks/commit/123c181077

[2015-06-25 23:27] #129 closed

[2015-06-26 00:12] eefahy commented on #186
Actually the machine that Josh wanted (sul-fedora-dev-lt) is currently pointed to that war file. I can get in touch with Josh about it soon, but I don't think he's actually using it.

[2015-06-26 00:15] ndushay commented on #186
@jgreben @eefahy if we need to keep it, the github repo should be revised to say why, and the jenkins build description should also be revised to say why.

Personally, I love getting rid of things we no longer need.

[2015-06-29 19:09] sdellis opened #205 "Is there a docker image for Triannon?"
I am a front-end developer who would like to get a local instance of Triannon running as the data store for a few Mirador annotation/transcription features I'm working on.  However, I'm running into some issues installing the whole stack on my Mac.  Not sure if it's something you've considered but a Docker image would save folks lots of time.

[2015-06-29 21:26] sdellis commented on #205
Nevermind.  I was able to get it running with the Fedora4 docker image by @cbeer ... the only remaining question I have is whether there is a standard Triannon Solr config out there?  I noticed there was a rake task created at some point, but doesn't seem to be working...
[code]

[2015-06-29 22:42] sdellis commented on #205
Ok, I found the [Solr config files](https://github.com/sul-dlss/triannon/tree/master/config/solr/triannon-core/conf) and realize I need to upgrade Solr to 4.10.4.

[2015-06-29 22:43] darrenleeweber commented on #205
FYI, see this gist for resetting triannon
  - https://gist.github.com/darrenleeweber/bcfc9698ce5f5af8f465

[2015-06-29 22:45] darrenleeweber opened #206 "Errors on rails 4.2.3"
.gemspec is pinned to rails 4.2.2 (actually just actionpack 4.2.2 is the issue), because errors arise in 4.2.3, i.e.

[code]

[2015-06-30 02:46] sdellis commented on #205
Thanks @darrenleeweber but I'm a little confused.  Do I need Jetty to run Triannon?  I have Tomcat/Fedora4 running in a VM and now have Solr 4.10.4 running in another VM.  Unfortunately, it doesn't like the Solr schema.xml that I pulled from this repo:
[code]
(I don't want to fill up your issue queue with support-related questions, so if there's a better place to ask about this stuff let me know!)

[2015-06-30 02:49] darrenleeweber commented on #205
@sdellis - glad your trying to get it running, although bear in mind that this is pre-beta software, so we are a little on the bleeding edge here.  If you have the patience and perseverance, it can be up and running.  There are two VMs that are running this system and it might be best if our @sul-dlss/devops consider your questions.

[2015-07-01 15:34] sdellis commented on #205
@darrenleeweber -- I'm really just trying to evaluate triannon and catch (Harvard) as annotation stores for this summer project, and blogging my experience in hopes of helping others get going.  I have patience and perseverance, but unfortunately the project I'm working on needs to be done by the end of the summer.  I need to move quickly with something that has basic functionality.  I'll repost o

[2015-07-01 16:17] sdellis commented on #205
... actually getting closer... I need to add that ICUFoldingFilterFactory to my Solr build.

[2015-07-02 21:04] sdellis commented on #205
@darrenleeweber -- I finally got Triannon running... hooray!  Now I'm getting this when trying to create an annotation:
[code]
Not sure what I'm doing wrong... :-/

[2015-07-05 17:55] darrenleeweber commented on #206
Note that fixing the rails gem to 4.2.2 in .gemset did not fix the travis builds, so it's not entirely clear that 4.2.2 vs. 4.2.3 is the source of the problems that motivated this issue in the first place.

[2015-07-06 18:06] darrenleeweber commented on #205
@ndushay might be able to help with this.

[2015-07-06 19:22] ndushay commented on #205
hi Shaun!

So you don't need to run Solr in jetty - it's just how it's set up for testing.  We run Solr on a completely diff box using tomcat and apache for our deployed instances of the triannon app.

I have not seen the error you have, but I'm wondering if the url need to be encoded.  I am looking into that right now -- we originally implemented triannon using a fork of Fedora that didn't use pa

[2015-07-06 19:31] darrenleeweber commented on #206
The Annotation class might need to be updated for rails 4.2.3, see
  - http://api.rubyonrails.org/classes/ActiveModel/Callbacks.html

[2015-07-06 19:59] darrenleeweber commented on #206
`bundle update` would not upgrade to rails 4.2.3 because the `spec/internal/Gemfile` had pinned it.  To get `bundle update` to work properly, try `rm -rf spec/internal; bundle update; rake engine_cart:generate`.  This does not impact travis builds, because `spec/internal` is not in the git repo.

[2015-07-06 20:13] darrenleeweber commented on #206
@cbeer - there is a possible conflict in the engine_cart:regenerate process when it is run using rake at the `triannon` project path, because, at some point during the regeneration, there is exists two Gemfile files, one in `triannon/Gemfile` and another in `triannon/spec/internal/Gemfile` and they may conflict with one another, e.g.
[code]
(BTW, this error above only appears when `triannon/Gemfil

[2015-07-06 20:30] sdellis commented on #205
@ndushay Thanks for the tips!  Fedora seems to be happy (using the [docker image](https://registry.hub.docker.com/u/cbeer/docker-fcrepo4/) by @cbeer ).  I can see Solr in the admin view, but an empty search returns the same error, so I'm going to try to get to the bottom of that first and report back.

[2015-07-06 20:37] darrenleeweber commented on #206
This might be fixed by https://github.com/sul-dlss/triannon/commit/407f85c89259b71a814ea329f6d5369f71213d0d

[2015-07-06 20:48] darrenleeweber commented on #206
Migrating engine cart concerns into https://github.com/cbeer/engine_cart/issues/23

[2015-07-06 23:35] darrenleeweber commented on #206
@ndushay also committed a fix in e50baad4341be504a7682990ae90b276af69c61b

[2015-07-06 23:36] darrenleeweber commented on #206
The fixes have passed a build in travis, so closing this issue as fixed (mucho fixed).

[2015-07-06 23:36] #206 closed

[2015-07-07 02:45] darrenleeweber opened #208 "Isolate triannon/Gemfile from spec/internal/Gemfile"
See engine cart issue https://github.com/cbeer/engine_cart/issues/23

Points to consider:
  - when spec/internal/Gemfile is present, `bundle install` and `bundle update` in the triannon root path is constrained by it.  This can prevent `bundle update` from getting new gem releases.
  - when the `rake engine_cart:generate` runs, if there is a `Gemfile.lock` file in the triannon root path, it will c

[2015-07-07 03:26] darrenleeweber commented on #208
The code in these sections achieves an effective separation of these gem/app Gemfile/Gemfile.lock files:
  - https://github.com/sul-dlss/triannon/blob/feature/auth-ish/Gemfile#L16-L31
  - https://github.com/sul-dlss/triannon/blob/feature/auth-ish/Rakefile#L14-L19

With this `triannon/Gemfile`, the `bundle update` can run in the triannon root directory, outside the 'test' group, without including t

[2015-07-08 01:47] darrenleeweber commented on #208
Given some discussion on this topic at our stand up today, some changes have been made that could address this issue in https://github.com/sul-dlss/triannon/pull/209

[2015-07-08 01:55] darrenleeweber opened #210 "Add webauth workgroups to the authentication workflow"
@azaroth42 and @ndushay - let's define the specs for the WebAuth-WorkGroups mapping to annotation containers and how that should work in the authentication work flow, considering both the SearchWorks and the DMS ETL use cases.  In these specs, we need to be clear about how different HTTP methods are to function (e.g. GET may not require any authentication).

[2015-07-14 19:50] darrenleeweber commented on #210
Assigning this to @ndushay as this will be ready when we integrate the current auth work into master.

[2015-07-14 19:52] darrenleeweber opened #216 "Enhance specs for the triannon config"
For example, there are various specs on the configuration code in the triannon client:
  - https://github.com/sul-dlss/triannon-client/blob/master/lib/triannon-client.rb#L20-L39
  - https://github.com/sul-dlss/triannon-client/blob/master/lib/triannon-client/configuration.rb
  - https://github.com/sul-dlss/triannon-client/blob/master/spec/lib/triannon-client/configuration_spec.rb

[2015-07-14 20:10] darrenleeweber commented on #216
This issue was motivated by a coveralls complaint, esp.
  - https://coveralls.io/builds/3057626/source?filename=lib%2Ftriannon.rb#L30

[2015-07-14 20:24] darrenleeweber opened #217 "Use rails 4.x secrets.yml file to manage access key generator"
Based on review of https://github.com/sul-dlss/triannon/pull/215:

@cbeer suggests that the access token generator could be seeded using a rails secret code, see
  - http://brandonhilkert.com/blog/using-rails-4-dot-1-secrets-for-configuration/

This approach could be applied to this method:
  - https://github.com/sul-dlss/triannon/blob/integrate_auth/app/controllers/triannon/application_controller

[2015-07-14 20:31] darrenleeweber commented on #208
This issue has been resolved in favor of using the baked code in the engine cart.  It's my opinion that the engine cart code injected into the root project Gemfile should not contrain the content of the root project gems until after the engine cart is generated.  In my opinion, the Gemfile.lock file should be removed prior to generating the engine cart app.  I've discussed this with @cbeer and doc

[2015-07-14 20:31] #208 closed

[2015-07-16 21:36] ndushay opened #218 "Triannon should return url of newly created anno in HTTP Location header"
Per @azaroth42, ideally Triannon should serve as an LDP endpoint.

Per HTTP Spec for Header Field Definitions http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html
"For 201 (Created) responses, the Location is that of the new resource which was created by the request."

For now, this is derived from the graph returned from triannon in the body of the response.

[2015-07-22 21:19] azaroth42 opened #221 "Consider using Concerns for access to authorize()"
Rather than on application_controller and checking for HTTP methods.
Works now as intended, an issue for future discussion and potential revision

[2015-07-22 23:40] darrenleeweber opened #222 "Update README docs with authentication/authorization documentation"
Update README docs with authentication/authorization documentation
   - may require input on this by @azaroth42
   - might be able to use examples in the integration specs

[2015-07-24 00:26] ndushay opened #224 "SW should NOT request a fresh access token for every save"
See https://github.com/sul-dlss/SearchWorks/blob/ld4l/app/models/annotation.rb#L192

[2015-07-24 00:28] ndushay opened #225 "SW anno create should always use anno controller"
currently, it sometimes uses javascript, which will fail due to authentization.

See chart here:  https://docs.google.com/a/stanford.edu/document/d/1emI165e4w8ghN-RiQhgQ9fbt3ZALvSkfh_sE9SfJsz0

@jkeck might work on this.

[2015-07-24 00:29] ndushay opened #226 "SW anno display should always go thru controller"
Not sometimes js as coded by jchris.

See #225

[2015-07-24 00:36] ndushay opened #227 "SW anno with authzn integration / full stack test"
there should be at least one

[2015-07-24 00:51] ndushay opened #228 "SW annotations/new blows up if you try to create without being logged in"
While this seems bad, that form exists only because it was useful when developing.  In reality, the anno creation will be done from the record view ... and it is @jkeck's intent to only show the create form if you are logged in, and pass the  #can_annotate?   method on the User class.

[2015-07-28 22:01] darrenleeweber opened #229 "GET /annotations/{anno_root} returns deleted annos (tombstones)"
@azaroth42 - should the search results filter out deleted annotations?

The search results for an anno container include deleted annos (tombstones), e.g.:
[code]

Then doing a GET on any of these returns a 410 error, e.g.
[code]

[2015-07-28 22:49] azaroth42 commented on #229
Yes, search results should not contain deleted annotations.  Good catch :)

[2015-07-29 16:49] darrenleeweber commented on #229
This is occurring while testing the triannon-client on the triannon/auth_tweaks branch and I do not yet know whether it occurs on the master branch, but it's likely because auth_tweaks was recently cloned off master and it doesn't touch the core anno-db creation or retrieval code.  It is repeatable, e.g. this is a result of running some triannon-client specs with additional debug output, on the 3r

[2015-08-03 17:27] azaroth42 commented on #210
Done :)

[2015-08-03 17:27] #210 closed

[2015-08-03 17:29] azaroth42 commented on #202
If we re-encounter, we'll re-report it. Too many changes in recent time to know a priori :)

[2015-08-03 17:29] #202 closed

[2015-08-03 17:32] azaroth42 commented on #178
Close and see if it still happens ... if so, we'll reopen/reissue

[2015-08-03 17:32] #178 closed

[2015-08-03 17:34] #171 closed

[2015-08-05 18:19] ndushay commented on #229
I think it's possible there just needs to be a wait after the deletes (hopefully they are done in a big batch, not one at a time interspersed with writes?).  See

https://github.com/sul-dlss/triannon/blob/master/spec/integration/solr_spec.rb#L84

We can twiddle the autoCommit and commitWithin settings if needed, too.

[2015-08-05 18:24] ndushay opened #230 "triannon should appear to be an LDP endpoint"
This is an uber-ticket for issues.  Currently, the only issue is

[ ] - #218 Triannon should return url of newly created anno in HTTP Location header

[2015-08-08 01:22] dazza-codes opened #232 "POST response has a content-type header that triannon-client doesn't parse correctly"
When running the DMS annos against triannon-dev on the dms-dev system, the rest-client response contains a content type header like this:

[code]

Is this a valid header value?

At the moment, this throws a spanner in the works for the DMS ETL.  This does not occur on a localhost triannon running on ruby WebBrick, so maybe it's specific to running on Apache Passenger?  In case it helps diagnose it

[2015-08-08 01:24] dazza-codes commented on #232
@azaroth42 and @ndushay - this is a blocker for DMS ETL and wondering whether to fix it in the triannon-client (if the header value is OK) or fix it in triannon.

[2015-08-10 18:40] dazza-codes commented on #232
This could be a red-herring, because my client code is bumping into a problem with cookie handling when the rack-cache is enabled for rest-client/rest-client-components handing of authentication responses.  I'll first try to figure that out and re-open if that doesn't fix it.

[2015-08-10 18:40] #232 closed, assigned to nobody

[2015-08-10 19:39] dazza-codes commented on #232
https://github.com/rest-client/rest-client/issues/411

[2015-08-10 20:32] dazza-codes opened #233 "Use rack-linkeddata for content negotiation"
See https://github.com/ruby-rdf/rack-linkeddata

[2016-06-24 14:35] nicolasfranck opened #235 "oa:annotatedAt indexed, not stored in Fedora"
I see that the solr_writer.rb creates a date "annotated_at", using the current date of indexation.

But what if one wants to reindex all annotations ( e.g. Solr has been emptied ) from fedora into Solr?
In that case all those dates are recreated, and set to the current time.

possible solutions:
- use attribute "oa:annotatedAt" from the input json-ld
- use attribute fedora:lastModified from the fe

[2016-06-24 14:48] nicolasfranck opened #236 "place of triannon in the iiif authentication flow"
I'm not really sure where the triannon should be placed inside the IIIF authentication flow,
if you look at it from a browser perspective

This is what I understand:
- request an authorizationCode by posting the client credentials to /auth/client_id

  this is probably not done by the browser? I suppose I need to build a server application
  that does this in the background.
- GET /auth/login

  n